# Ignore virtual environments
venv/
.env/
.env.local
.env.*
!.env.example

# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Django
*/migrations/
!*/migrations/__init__.py
/media/
staticfiles/
.env

# VSCode / JetBrains IDEs
.vscode/
.idea/

# System files
Thumbs.db

# Node / Nuxt
node_modules/
.nuxt/
dist/
.nitro/
.output
.data
.nitro
.cache

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

/frontend-admin/
