<div class="alert" id="error">
    <span class="alert-closebtn" onclick="alertClose(this)">&times;</span>
    <p id="error-msg"></p>
</div>

<div class="alert success" id="success">
    <span class="alert-closebtn" onclick="alertClose(this)">&times;</span>
    <p id="success-msg"></p>
</div>

<div class="alert information" id="information">
    <span class="alert-closebtn" onclick="alertClose(this)">&times;</span>
    <p id="information-msg"></p>
</div>

<div class="alert warning" id="warning">
    <span class="alert-closebtn" onclick="alertClose(this)">&times;</span>
    <p id="warning-msg"></p>
</div>