<div class="alert" id="error" onfocusout="alertAutoClose(this)">
    <span class="alert-closebtn" onclick="alertClose(this)">&times;</span>
    <p id="error-msg"></p>
</div>

<div class="alert success" id="success" onmouseout="alertAutoClose(this)">
    <span class="alert-closebtn" onclick="alertClose(this)">&times;</span>
    <p id="success-msg"></p>
</div>

<div class="alert information" id="information" onmouseout="alertAutoClose(this)">
    <span class="alert-closebtn" onclick="alertClose(this)">&times;</span>
    <p id="information-msg"></p>
</div>

<div class="alert warning" id="warning" onmouseout="alertAutoClose(this)">
    <span class="alert-closebtn" onclick="alertClose(this)">&times;</span>
    <p id="warning-msg"></p>
</div>