<!DOCTYPE html>
{% load static %}
<html lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="MahdiYar">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="چاپ و تبلیغات تیم گرافیک , سفارش آنلاین محصولات چاپی افست , دیجیتال , لارج فرمت">

    {% block meta %}
        <meta name="keywords" content="تیم گرافیک, پرینت, ریسو, پاکت, پوستر, کارت ویزیت, تراکت, تبلیغات, چاپ, teamgraphic">
    {% endblock meta %}

    {% block title %}
        <title>تیم گرافیک - TeamGraphic</title>
    {% endblock title %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/main/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/section.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/product/order_level.css' %}">

    {% block stylesheet %}
        <!-- replace me!!! -->
    {% endblock stylesheet %}

    <script src="{% static 'js/main/base.js' %}" defer="True"></script>
    <script src="{% static 'js/main/navbar.js' %}" defer="true"></script>
    <script src="{% static 'js/main/signup.js' %}" defer="true"></script>
    <noscript>متاسفانه مرورگر شما از برخی از ویژگی ها پشتیبانی نمی کند!</noscript>
    {% block js %}
        <!-- replace me!!! -->
    {% endblock js %}

</head>
<body onload="viewAlertFunction()">

    {% block header %}
        {% include 'main/header.html' %}
<!--        <script>-->
<!--            document.geElementById('homelink').setAttribute("class" ,"active")-->
<!--        </script>-->
    {% endblock header %}

    {% block navbar %}
        {% include 'main/navbar.html' %}
    {% endblock navbar %}

    {% block alert %}
        {% include 'main/alert.html' %}
    {% endblock alert %}

    <section>
        <article>
        {% block page %}
            <br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br>
        {% endblock page %}
        </article>
    </section>

    {% block footer %}
        {% include 'main/footer.html' %}
    {% endblock footer %}
    <script src="{% static 'js/main/alert.js' %}"></script>
</body>
</html>