{% load static %}
<header>
    <div>
        <a href="/">
            <img class="logo" src="{% static 'img/main/logo.png' %}">
        </a>
        <div class="phone">
            <img class="phone-img" src="{% static 'img/main/phone.png' %}">
                <p class="phone-num">۰۲۱-<span class="phone-num-imp"> ۴۴۰۴۴ </span><span class="phone-num-imp-other">۸۲۷</span>
                <br>۰۲۱-<span class="phone-num-imp"> ۴۴۰۴۴ </span><span class="phone-num-imp-other">۸۸۱</span></p>
        </div>
    </div>
    <div class="user-option">
    {% if user.is_authenticated %}
        <button class="cart">سبد خرید</button>
        <div class="cart-icon"><img src="{% static 'img/main/cart.png' %}"></div>

    {% else %}
        <button class="signup" onclick="document.getElementById('signup').style.display='block'">ثبت نام</button>
        <button class="guest" onclick="document.getElementById('signup').style.display='block'">مهمان عزیز ثبت نام نکرده اید؟</button>
        <button class="forget" onclick="document.getElementById('forget').style.display='block'">( فراموشی رمز عبور )</button>
    {% endif %}
    </div>
    {% if registered %}

    {% else %}
        <div id="signup" class="signup-form">
            <div class="modal-content animate">
                <form name="signUp" enctype="multipart/form-data" onsubmit="" method="post" action="{% url 'user:user_signup' %}">
                    {% csrf_token %}
                    <div>
                        <span onclick="document.getElementById('signup').style.display='none'" class="close" title="بستن">&times;</span>
                    </div>
                    <div class="context-form-container">
                        <label for="username">
                            <input id="username" type="text" name="username" required="required" minlength="11" maxlength="11" onchange="checkUsername(this)">
                            شماره موبایل</label>
                        <label for="password">
                            <input id="password" type="password" name="password" required="required" minlength="8" maxlength="15">
                            رمز عبور</label>
                        <label for="firstName">
                            <input id="firstName" type="text" name="first_name" required="required" minlength="3" maxlength="20">
                            نام</label>
                        <label for="lastName">
                            <input id="lastName" type="text" name="last_name" required="required" minlength="3" maxlength="20">
                            نام خانوادگی</label>
                        <input tupe="text" name="current" hidden="hidden" value="{{ req.path }}">
                        <input class="confirm-button" type="submit" name="" value="تایید">
                    </div>
                    <img class="pop-up-img" src="{% static 'img/main/pop-up.png' %}">
                </form>
            </div>
        </div>
        <div id="forget" class="signup-form">
            <div class="modal-content animate">
                <form enctype="multipart/form-data" method="post" action="{% url 'user:user_signup' %}">
                    {% csrf_token %}
                    <div class="head-form-container">
                        <span onclick="document.getElementById('forget').style.display='none'" class="close" title="بستن">&times;</span>
                    </div>
                    <div class="context-form-container">
                        <label for="forget_username"><input id="forget_username" type="text" name="username" required="required" minlength="11" maxlength="11">شماره موبایل</label>
                        <div style="display: none;">
                            <label for="confirm_code">کد دریافتی</label>
                            <input type="number" name="confirm" required="required" value="">
                            <input class="confirm-button" type="submit" name="" value="تایید">
                        </div>
                        <input tupe="text" name="current" hidden="hidden" value="{{ req.path }}">
                        <input class="confirm-button" type="submit" name="" value="ارسال رمز عبور جدید">
                    </div>
                    <img class="pop-up-img" src="{% static 'img/main/pop-up.png' %}">
                </form>
            </div>
        </div>
    {% endif %}
</header>