{% extends "main/base.html" %}
{% load static %}
{% load interface_tag %}
{% block title %}
    <title>چاپ و تبلیغات تیم گرافیک</title>
{% endblock title %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/slideshow.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/product/product_box.css' %}">
{% endblock stylesheet %}

{% block js %}
    <script src="{% static 'js/main/slideshow.js' %}" defer="true"></script>
    <script src="{% static 'js/main/navbar.js' %}" defer="true"></script>
{% endblock js %}

{% block page %}
    {% include "main/slideshow.html" %}
    <div class="category">
        <h1>محصولات چاپ تیم گرافیک</h1>
        {% for item in category %}
        <a class="product-item" href="{{ item.geturl }}">
            <img class="product-img" src="{% static item.preview_url %}" alt="{{ item.title }}">
            <h2 class="product-name">{{ item.title }}</h2>
            {% if item.description %}
            <div class="tooltip"><img src="{% static 'img/main/info.png' %}" alt="info"><p class="tooltiptext">{{ item.description }}</p></div>
            {% endif %}

<!--                <div class="product-ready">-->
<!--                    {% if item.min_ready == item.max_ready %}-->
<!--                        <p>تحویل {{ item.min_ready|per_num }} روزه کاری</p>-->
<!--                    {% else %}-->
<!--                        <p>تحویل از {{ item.min_ready|per_num }} تا {{ item.max_ready|per_num }} روزه کاری</p>-->
<!--                    {% endif %}-->
<!--                </div>-->
<!--                <div class="product-min-price">-->
<!--                    <p>قیمت از <span class="price">{{ item.min_price|per_num }}</span> تومان </p>-->
<!--                </div>-->
        </a>
        {% endfor %}
    </div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock page %}
