{% extends "main/home.html" %}
{% load static %}
{% load interface_tag %}

{% block meta %}
    <meta name="keywords" content="teamgraphic ,تیم گرافیک ,{{ category.title }}">
{% endblock meta %}

{% block title %}
    <title>تیم گرافیک | {{ category.title }}</title>
{% endblock title %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/product/product_box.css' %}">
{% endblock stylesheet %}

{% block page %}
    <div class="category">
        <h1>{{ category.title }}</h1>
        {% for item in products.all %}
        <a class="product-item" href="{{ item.geturl }}">
            <img class="product-img" src="{% static item.preview_url %}" alt="{{ item.title }}">
            <h2 class="product-name">{{ item.title }}</h2>
            {% if item.brief_intro %}
            <div class="tooltip"><img src="{% static 'img/main/info.png' %}" alt="info"><p class="tooltiptext">{{ item.brief_intro }}</p></div>
            {% endif %}
            <div class="product-ready">
                {% if item.min_ready == item.max_ready %}
                    <p>تحویل {{ item.min_ready|per_num }} روزه کاری</p>
                {% else %}
                    <p>تحویل از {{ item.min_ready|per_num }} تا {{ item.max_ready|per_num }} روزه کاری</p>
                {% endif %}
            </div>
            <div class="product-min-price">
                <p>قیمت از <span class="price">{{ item.min_price|per_num }}</span> تومان </p>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock page %}
