{% extends "main/home.html" %}
{% load static %}
{% load interface_tag %}

{% block meta %}
    <meta name="keywords" content="teamgraphic ,تیم گرافیک ,{{ product.title }}">
{% endblock meta %}

{% block title %}
    <title>تیم گرافیک | {{ product.title }}</title>
{% endblock title %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/product/product_selling.css' %}">
{% endblock stylesheet %}

{% block js %}
    <script src="{% static 'js/product/product.js' %}" defer="True"></script>
{% endblock js %}

{% block page %}
    {% include "product/order_level.html" %}
    {% block active-level %}
        <script>
            document.getElementById('level1').setAttribute("class" ,"active-level");
    <!--        document.getElementById('level1-2').setAttribute("class" ,"active-middle-level");-->
    <!--        document.getElementById('level2').setAttribute("class" ,"active-level");-->
        </script>
    {% endblock active-level %}
    <div class="selling">
        <div class="product-side">
            <div class="product-container">
                <img class="product-img" src="{% static product.preview_url %}" alt="{{ item.title }}">
                <h1>{{ product.title }}</h1>
            </div>
            <div class="intro-container">
                <div class="product-price-container">
                    <p><span class="price-title">چــــاپ: </span><span id="product-price">۰</span>تومان </p>
                    <p><span class="price-title">خدمات: </span><span id="service-price">۰</span>تومان <span id="plus">+</span></p>
                    <p class="total-price-container"><span class="price-title">مجموع: </span><span id="total-price">۰</span>تومان </p>
                </div>
<!--                <button value="submit">قیمت نهایی و اطلاعات سفارش تایید میره آخر صفحه</button>-->
            </div>
            <div id="submit-container">
                {% if user.is_authenticated %}
                <button type="submit" form="product-form"><span>ادامه</span></button>
                {% else %}
                <button onclick="signupFirstMassage()"><span>ادامه</span></button>
                {% endif %}
            </div>
            <div class="intro-container">
                {{ product.guidance|safe }}
            </div>
        </div>
        <div class="product-main">
            <div id="guide-selling-product">
                <p><b>راهنما: </b><br>
                {% if size %}
                    ابعاد چاپ را انتخاب کرده سپس
                {% endif %}
                قیمت متناسب با تعداد یا تیراژ محصول قابل انتخاب است.
                {% if ready %}
                    <br>
                    می توانید با انتخاب مدت زمان تحویل تفاوت قیمت ها را مشاهده کنید!
                {% endif %}
                </p>
            </div>
            {% if size %}
                <div id="size-container">
                    <div class="head-option">
                        <img src="{% static 'img/main/icon-color.png' %}">
                        <p>ابــعاد چاپ :</p>
                    </div>
                    {% for item in size %}
                        <div id="size{{ item.id }}" class="size-item default-item" onclick="sizeChoose(this)">
                            <p>{{ item }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div id="ready-container">
                <div class="head-option-left">
                    <p>زمـان تحـویــل</p>
                </div>
                {% for item in ready %}
                    <div id="ready{{ item.id }}" class="ready-item default-item" onclick="readyChoose(this)">
                        {% if item.duration %}
                        <p>{{ item }}<br><span class="hint">{{ item.duration|per_num }} روزکاری</span></p>
<!--                            {{ ready_date }}-->
                        {% else %}
                        <p>{{ item }}<br>آماده تحویل</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div id="count-container">
                <div class="head-option">
                    <img src="{% static 'img/main/icon-color.png' %}">
                    <p>تیراژ :</p>
                </div>
                {% if side_num == 2 %}
                    {% for item in selling_options.all %}
                        {% if forloop.counter0|divisibleby:2 %}
                            <div id="count{{ item.id }}" class="count-item default-item ready{{ item.ready.id }}size{{ item.size.id }}">
                                <p>{{ item.count|per_num }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for item in selling_options.all %}
                        <div id="count{{ item.id }}" class="count-item default-item ready{{ item.ready.id }}size{{ item.size.id }}">
                            <p>{{ item.count|per_num }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <form enctype="multipart/form-data" method="post" action="{{ product.geturl_l2 }}" id="product-form">
                {% csrf_token %}
                <div id="price-container">
                    {% if side_num == 2 %}
                        <div class="head-option side1">
                            <p>دو رو</p>
                        </div>
                        <div class="head-option side2">
                            <p>یک رو</p>
                        </div>
                    {% else %}
                        <div class="head-option side0">
                            {% if side_type != 0 %}
                                <p>دو رو</p>
                            {% else %}
                                <p>قیمت</p>
                            {% endif %}
                        </div>
                    {% endif %}
                        {% for item in selling_options.all %}
                        <label id="{{ item.id }}"
                               class="price-item default-item price-item{{ item.side }} ready{{ item.ready.id }}size{{ item.size.id }}">
                            {% if product.min_price == item.sale_price %}
                            <input type="radio" id="{{ item.sale_price }}" name="product_sale" value="{{ item.id }}"
                                   class="price-check count{{ item.count }} price-def" onclick="setPrice(this)">
                            {% else %}
                            <input type="radio" id="{{ item.sale_price }}" name="product_sale" value="{{ item.id }}"
                                   class="price-check count{{ item.count }}" onclick="setPrice(this)">
                            {% endif %}
                            <span class="checkmark"></span>
                            <p><span class="toman color-hint">تومان</span><span class="price">{{ item.sale_price|per_num }}</span></p>
                        </label>
                        {% endfor %}
                </div>
                {% if services %}
                    <div id="service-container">
                        <div class="head-option">
                            <img src="{% static 'img/main/icon-color.png' %}">
                            <p>خدمات :</p>
                        </div>
                        {% for item in services %}
                        <label id="service-item" class="default-item">
                            <input type="checkbox" class="service-check" id="{{ item.service.cost }}" value="{{ item.id }}" name="product_service" onclick="setServicePrice()">
                            <span class="checkmark"></span>
                            <p>{{ item.service.title }} <span class="hint">({{ item.service.hint }})</span>
                                <span class="toman color-hint">تومان</span><span class="price">{{ item.service.cost|per_num }} +</span>
                                <span class="toman color-hint" style="padding-left: 8px;">روزکاری</span><span class="price">{{ item.service.duration|per_num }} +</span></p>
                        </label>
                        {% endfor %}
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock page %}
