@font-face {
    font-family: 'Yekan';
    src: url('fonts/Yekan/Yekan.eot');
    src: url('fonts/Yekan/Yekan.eot?#iefix') format('embedded-opentype'),
    url('fonts/Yekan/Yekan.woff') format('woff'),
    url('fonts/Yekan/Yekan.ttf') format('truetype'),
    url('fonts/Yekan/Yekan.svg#BYekan') format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
  font-family: Sahel;
  src: url('fonts/Sahel/Sahel.eot');
  src: url('fonts/Sahel/Sahel.eot?#iefix') format('embedded-opentype'),
       url('fonts/Sahel/Sahel.woff') format('woff'),
       url('fonts/Sahel/Sahel.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Sahel;
  src: url('fonts/Sahel/Sahel-Bold.eot');
  src: url('fonts/Sahel/Sahel-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Sahel/Sahel-Bold.woff') format('woff'),
       url('fonts/Sahel/Sahel-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Sahel;
  src: url('fonts/Sahel/Sahel-Black.eot');
  src: url('fonts/Sahel/Sahel-Black.eot?#iefix') format('embedded-opentype'),
       url('fonts/Sahel/Sahel-Black.woff') format('woff'),
       url('fonts/Sahel/Sahel-Black.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: Shabnam;
  src: url('fonts/Shabnam/Shabnam.eot');
  src: url('fonts/Shabnam/Shabnam.eot?#iefix') format('embedded-opentype'),
       url('fonts/Shabnam/Shabnam.woff') format('woff'),
       url('fonts/Shabnam/Shabnam.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Shabnam;
  src: url('fonts/Shabnam/Shabnam-Bold.eot');
  src: url('fonts/Shabnam/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Shabnam/Shabnam-Bold.woff') format('woff'),
       url('fonts/Shabnam/Shabnam-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Shabnam;
  src: url('fonts/Shabnam/Shabnam-Light.eot');
  src: url('fonts/Shabnam/Shabnam-Light.eot?#iefix') format('embedded-opentype'),
       url('fonts/Shabnam/Shabnam-Light.woff') format('woff'),
       url('fonts/Shabnam/Shabnam-Light.ttf') format('truetype');
  font-weight: 300;
}

*, *:before, *:after {
    box-sizing:border-box;
    padding: 0px;
    margin: 0px;
    font-family: Yekan;
    direction: rtl;
}

html {
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
    margin: 0px;
}

body {
    padding: 0px;
    color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #f8f8f8;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h1 {
    text-align: center;
    width: 100%;
    float: right;
    font-size: 18px;
    color: #171717;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

input {
    margin: 0px;
    padding: 0px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: gray;
}

.cursor {
    cursor: pointer;
}

::-moz-selection { /* Code for Firefox */
    color: Black;
    background: rgb(255, 180, 0, 0.7);
}

::selection {
    color: Black;
    background: rgb(255, 180, 0, 0.7);
}

.color-brand {
    color: #ffcc00;
}

.color-hint {
    color: #555;
}

.tooltip {
    position: absolute;
    top: 20px;
    left: 15px;
}

.tooltip img {
    width: 28px;
}

.tooltip span.icon {
    line-height: 1.5;
    font-size: 22px;
    font-weight: bold;
    margin-top: -8px;
    font-family: Shabnam;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 210px;
    background-color: white;
    color: #171717;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 130%;
    height: auto;
    padding: 7px;
    opacity: 0.9;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 100%;
    border-width: 6px;
    border-style: solid;
    border-color: transparent white transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.alert {
    width: 500px;
    margin: auto;
    padding: 15px;
    background-color: red;
    color: white;
    opacity: 0.9;
    transition: opacity 0.6s;
    position: fixed;
    top: 111px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    visibility: hidden;
    z-index: 5;
    line-height: 1.2;
}

.alert.success {background-color: #4CAF50;}
.alert.information {background-color: #ffcc00;}
.alert.warning {background-color: #f44336;}

.alert-closebtn {
    user-select: none;
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 40px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0;
}

.alert-closebtn:hover {
    color: black;
}

.tablink {
    color: black;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 0;
    font-size: 15px;
    width: 50%;
    background-color: #ddd;
}

.four {
    width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #bbb;
    transition: 0.5s;
}

.tab-right {
    border-radius: 0 15px 0 0;
}

.tab-left {
    border-radius: 15px 0 0 0;
}

/* Set default styles for tab content */
.tabcontent {
    display: none;
    text-align: center;
    height: auto;
    float: right;
    width: 100%;
    min-height: 300px;
    border: 2px solid #ffcc00;
    padding: 10px 15px;
    background-color: rgb(255, 180, 0, 0.1)
}

.tabcontent ul {
    list-style-type: none;
    float: right;
    direction: rtl;
    text-align: right;
    margin: 0px;
}

@media screen and (max-width: 1250px) {
    h1 {
        font-size: 1.7vw;
    }

    .alert {
        max-width: 40%;
        font-size: 1.7vw;
    }

    .tooltip {
        top: 1.8vw;
        left: 1.5vw;
    }

    .tooltip img {
        width: 2.5vw;
    }

    .tooltip span.icon {
        position: absolute;
        top: 1vw;
        left: 0.7vw;
        font-size: 2vw;
        margin: 0;
        line-height: 0;
    }

    .tooltip .tooltiptext {
        width: 23vw;
        border-radius: 0.5vw;
        padding: 1vw;
        top: -0.4vw;
        left: 130%;
        font-size: 1.3vw;
    }

    .tooltip .tooltiptext::after {
        top: 1.2vw;
        border-width: 0.7vw;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 3vw;
    }

    .alert {
        max-width: 60%;
        font-size: 3vw;
    }

    .tooltip {
        top: 2.8vw;
        left: 2.2vw;
    }

    .tooltip img {
        width: 4.3vw;
    }

    .tooltip span.icon {
        top: 1.8vw;
        left: 1.3vw;
        font-size: 4vw;
    }

    .tooltip .tooltiptext {
        width: 33vw;
        border-radius: 1.3vw;
        padding: 1.5vw;
        top: -0.8vw;
        left: 130%;
        font-size: 2.2vw;
    }

    .tooltip .tooltiptext::after {
        top: 2vw;
        border-width: 1.2vw;
    }
}