@font-face {
    font-family: 'Yekan';
    src: url('fonts/Yekan/Yekan.eot');
    src: url('fonts/Yekan/Yekan.eot?#iefix') format('embedded-opentype'),
    url('fonts/Yekan/Yekan.woff') format('woff'),
    url('fonts/Yekan/Yekan.ttf') format('truetype'),
    url('fonts/Yekan/Yekan.svg#BYekan') format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
  font-family: Sahel;
  src: url('fonts/Sahel/Sahel.eot');
  src: url('fonts/Sahel/Sahel.eot?#iefix') format('embedded-opentype'),
       url('fonts/Sahel/Sahel.woff') format('woff'),
       url('fonts/Sahel/Sahel.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Sahel;
  src: url('fonts/Sahel/Sahel-Bold.eot');
  src: url('fonts/Sahel/Sahel-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Sahel/Sahel-Bold.woff') format('woff'),
       url('fonts/Sahel/Sahel-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Sahel;
  src: url('fonts/Sahel/Sahel-Black.eot');
  src: url('fonts/Sahel/Sahel-Black.eot?#iefix') format('embedded-opentype'),
       url('fonts/Sahel/Sahel-Black.woff') format('woff'),
       url('fonts/Sahel/Sahel-Black.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: Shabnam;
  src: url('fonts/Shabnam/Shabnam.eot');
  src: url('fonts/Shabnam/Shabnam.eot?#iefix') format('embedded-opentype'),
       url('fonts/Shabnam/Shabnam.woff') format('woff'),
       url('fonts/Shabnam/Shabnam.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Shabnam;
  src: url('fonts/Shabnam/Shabnam-Bold.eot');
  src: url('fonts/Shabnam/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Shabnam/Shabnam-Bold.woff') format('woff'),
       url('fonts/Shabnam/Shabnam-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Shabnam;
  src: url('fonts/Shabnam/Shabnam-Light.eot');
  src: url('fonts/Shabnam/Shabnam-Light.eot?#iefix') format('embedded-opentype'),
       url('fonts/Shabnam/Shabnam-Light.woff') format('woff'),
       url('fonts/Shabnam/Shabnam-Light.ttf') format('truetype');
  font-weight: 300;
}

*, *:before, *:after {
    box-sizing:border-box;
    padding: 0px;
    margin: 0px;
    font-family: Yekan;
    direction: rtl;
}

html {
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
    margin: 0px;
}

body {
    padding: 0px;
    color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #f8f8f8;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

input {
    margin: 0px;
    padding: 0px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: gray;
}

.cursor {
    cursor: pointer;
}

::-moz-selection { /* Code for Firefox */
    color: Black;
    background: rgb(255, 180, 0, 0.7);
}

::selection {
    color: Black;
    background: rgb(255, 180, 0, 0.7);
}

.color-brand {
    color: #ffcc00;
}

.color-hint {
    color: #555;
}

.tooltip {
    text-align: center;
    position: absolute;
    top: 20px;
    left: 15px;
    display: inline-block;
    color: #000;
    background-color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.tooltip span.icon {
    line-height: 0;
    font-size: 20px;
    font-weight: bold;
    margin-top: -8px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 210px;
    background-color: white;
    color: #171717;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 130%;
    height: auto;
    padding: 7px;
    opacity: 0.9;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 100%;
    border-width: 6px;
    border-style: solid;
    border-color: transparent white transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media screen and (max-width: 1250px) {
    .tooltip {
        top: 1.5vw;
        left: 1.2vw;
        width: 2.3vw;
        height: 2.3vw;
    }

    .tooltip span.icon {
        position: absolute;
        top: 1vw;
        left: 0.7vw;
        font-size: 2vw;
        margin: 0;
        line-height: 0;
    }

    .tooltip .tooltiptext {
        width: 23vw;
        border-radius: 0.5vw;
        padding: 1vw;
        top: -0.6vw;
        left: 130%;
        font-size: 1.3vw;
    }

    .tooltip .tooltiptext::after {
        top: 1.2vw;
        border-width: 0.7vw;
    }
}

@media screen and (max-width: 480px) {
    .tooltip {
        top: 2.5vw;
        left: 2.2vw;
        width: 4.3vw;
        height: 4.3vw;
    }

    .tooltip span.icon {
        top: 1.8vw;
        left: 1.3vw;
        font-size: 4vw;
    }

    .tooltip .tooltiptext {
        width: 33vw;
        border-radius: 1vw;
        padding: 1.5vw;
        top: -1vw;
        left: 120%;
        font-size: 2.2vw;
    }

    .tooltip .tooltiptext::after {
        top: 2vw;
        border-width: 1.2vw;
    }
}