header {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #f8f8f8;
    float:right;
    width: 100%;
    height: 10%;
    padding: 0px;
    user-select: none;
    -webkit-user-select: none;
}

header h1 {
    text-align: center;
    color: #ffcc00;
    margin: 0px;
    padding: 20px;
    font-size: 28px;
}

header div {
    height: 100px;
    background-color: transparent;
}

header img.logo {
    float: right;
    margin-right: 15%;
    margin-top: 10px;
    max-width: 370px;
}

header img.logo:hover {
    max-width: 372px;
}

header div.phone {
    float: left;
    margin-left: 15%;
    max-width: 700px;
    font-family: Shabnam;
    font-weight: bold;
}

header img.phone-img {
    float: left;
    margin-top: 12px;
    max-width: 40px;
}

header p.phone-num {
    float: left;
    font-size: 22px;
    margin-top: 11px;
    margin-left: 5px;
    line-height: 1.5;
}

header p.phone-num span.phone-num-imp, header p.phone-num span.phone-num-imp-other {
    min-weight: 1000px;
    text-align: justify;
    font-weight: bold;
    letter-spacing: 1px;
}

header p.phone-num span.phone-num-imp-other {
    font-size: 20px;
    color: #171717;
}

header p.phone-num span.phone-num-imp:hover {
    color: #ffcc00;
}

header div.user-option {
    height: 30px;
    float: left;
    margin-left: 15%;
    width: 70%;
    margin-bottom: 3px;
}

header div.user-option button.signup, header div.user-option button.login {
    height: 30px;
    padding: 0;
    float: left;
    width: 60px;
    text-align: center;
    background-color: #ffcc00;
    color: #171717;
    font-size: 13px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
}

header div.user-option button.login  {
    display: none;
}

header div.user-option button.signup:hover, header div.user-option button.login:hover {
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
}

header div.user-option button.forget, header div.user-option button.guest {
    padding-left: 5px;
    float: left;
    width: auto;
    text-align: center;
    background-color: transparent;
    color: #171717;
    font-size: 13px;
    border: none;
    cursor: pointer;
}

header div.user-option button.guest {
    margin-right: 10px;
}

header div.user-option button.forget:hover, header div.user-option button.guest:hover {
    color: #ffcc00;
}

header div.user-option button.cart {
    height: 30px;
    padding: 0;
    float: left;
    width: 120px;
    text-align: center;
    background-color: #ffcc00;
    color: #171717;
    font-size: 13px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
}

header div.user-option div.cart-icon {
    float: left;
    height: auto;
}

header div.user-option div.cart-icon img {
    float: left;
    max-height: 29px;
}

header div.signup-form {
    display: none;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
    padding: 0;
    padding-top: 60px;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
}

.modal-content {
    background-color: transparent;
    left: 15%;
    width: 70%;
    position: fixed;
}

.modal-content .pop-up-img {
    width: 100%;
    position: absolute;
    margin: auto;
}

.context-form-container {
    position: absolute;
    width: 38%;
    margin-top: 13%;
    margin-left: 8%;
    z-index: 2;
    height: 100%;
}

.context-form-container input {
    float: left;
    text-align: right;
    width: 50%;
    height: 2vw;
    margin: 0;
    margin-right: 1vw;
    border-radius: 3vw;
    background-color: #ffcc44;
    padding: 2px 10px;
    border: none;
    font-size: 0.9vw;
    font-weight: bold;
    color: #000;
    box-shadow: 0px 0px 0px 0.15vw rgba(0,0,0,1);
}

.context-form-container label {
    float: right;
    width: 100%;
    font-size: 1vw;
    margin-top: 0.7vw;
    font-weight: bold;
}

.context-form-container .confirm-button {
    font-size: 1vw;
    font-weight: bold;
    text-align: center;
    float: right;
    margin: 1vw 50% 0px;
    border: none;
    background-color: #ffcc00;
    color: #000;
    width: auto;
    padding: 0px 20px;
    height: 2vw;
    border-radius: 3vw;
    box-shadow: -1px -1px 0px 0.15vw rgba(0,0,0,1);
}

.context-form-container .confirm-button:hover {
    background-color: #ffbb22;
    border-radius: 18px;
    cursor: pointer;
}

.close {
    position: absolute;
    right: 10px;
    top: 30px;
    color: white;
    font-size: 53px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #ffcc00;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

@media screen and (max-width: 1000px){
    header h1
    {
        font-size: 24px;
    }

    header img.logo {
        margin-right: 5px;
        margin-top: 15px;
        max-width: 260px;
    }

    header img.logo:hover {
        max-width: 262px;
    }

    header div.phone {
        float: left;
        margin-left: 5px;
        max-width: 700px;
    }

    header div.user-option {
        margin: 0;
        margin-bottom: 3px;
    }

    header div.user-option button.signup {
        font-size: 12px;
        width: 50px;
    }

    header div.user-option button.forget, header div.user-option button.guest {
        padding-top: 4px;
        font-size: 12px;
    }

    header div.user-option button.cart  {
        width: 90px;
        font-size: 12px;
    }

    .modal-content {
        left: 2.5%;
        width: 95%;
    }

    .context-form-container input {
        height: 3vw;
        font-size: 1.3vw;
    }

    .context-form-container label {
        font-size: 1.5vw;
        margin-top: 1vw;
    }

    .context-form-container .confirm-button {
        height: 3vw;
        margin-top: 1.5vw;
        font-size: 1.5vw;
    }

    .context-form-container .confirm-button:hover {
        background-color: #ffbb22;
        border-radius: 18px;
        cursor: pointer;
    }
}

@media screen and (max-width: 480px){
    header h1
    {
        font-size: 20px;
    }

    header img.logo {
        margin: 0;
        padding-right: 5px;
        display: block;
        margin-top: 27px;
        max-width: 49%;
    }

    header img.logo:hover {
        max-width: 50%;
    }

    header div.phone {
        padding-left: 5px;
        margin: 0;
        margin-top: 10px;
        max-width: 50%;
    }

    header img.phone-img {
        margin-top: 15px;
        max-width: 15%;
    }

    header p.phone-num {
        font-size: 4.2vw;
    }

    header p.phone-num span.phone-num-imp {
        font-size: 4.5vw;
    }

    header p.phone-num span.phone-num-imp-other {
        font-size: 4.2vw;
    }

    header div.user-option {
        width: 100%;
    }

    header div.user-option button.signup  {
        font-size: 11px;
        width: 48px;
    }

    header div.user-option button.forget, header div.user-option button.guest {
        padding-top: 4px;
        font-size: 11px;
    }

    header div.user-option button.cart  {
        width: 80px;
    }

    header div.user-option button.login  {
        font-size: 11px;
        width: 48px;
        display: block;
    }
}
