nav {
    float: right;
    width: 100%;
    background-color: #fafafa;
    box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.2);
    background-color: #eee;
    user-select: none;
    -webkit-user-select: none;
    z-index: 1;
}

nav div.base {
    width: 1200px;
    margin: auto;
    position: relative;
}

nav .sub_menu {
    display: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-height: 43px;
}

nav li a, nav li a:visited, .dropdown, .dropdown-user{
    float: right;
    display: block;
    color: #171717;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    width: auto;
    padding: 7px 17px;
    border-left: 1px solid #ffcc00;
}

nav li:last-child a {
    border-left: none;
}

.sticky {
    position: fixed;
    top: 0;
}

.dropdown-user {
    height: 30px;
    margin-top: 7px;
    padding: 0;
    float: left;
    width: 120px;
    text-align: center;
    background-color: #ffcc00;
    color: #171717;
    font-size: 13px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
}

nav li a:hover, nav li a:active {
    background-color: #ffcc00;
    color: #171717;
    text-decoration: none;
    transition: 0.3s;
}

nav li p {
    color: #ffcc00;
}

.dropdown, .dropdown-user{
    transition: 0.3s;
    cursor: pointer;
}

.dropdown:hover, .dropdown-user:hover {
    background-color: #ffcc00;
}

.dropdown:hover .dropdown-content, .dropdown-user:hover .dropdown-user-content {
    visibility: visible;
    opacity: 1;
    }

.dropdown-content, .dropdown-user-content {
    padding: 3px;
    visibility: hidden;
    position: absolute;
    left: 0;
    background-color: #f1f1f1;
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.4);
    z-index: 1;
    width: 300px;
    opacity: 0;
    transition: opacity 0.5s;
    margin-top: 2px;
}

.dropdown-content {
    right: 0;
    width: 800px;
    margin-top: 4px;
}

.dropdown-content a, .dropdown-user-content a {
    float: right;
    width: 31.33%;
    padding: 3px 1.66%;
    margin: 3px 1%;
    border: none;
    border-bottom: 1px solid #ffcc00;
    color: #171717;
    text-align: right;
    font-size: 13px;
    text-decoration: none;
    display: block;
}

.dropdown-user-content a {
    border: none;
    border-left: 3px solid #ffcc00;
    font-size: 13px;
    padding: 3px 4%;
    margin: 3px 0;
    float: left;
    width: 100%;
    text-align: left;
}

.dropdown-content strong.cat {
    float: right;
    padding: 0px 1%;
    margin: 3px 1%;
    border: none;
    border-right: 3px solid #ffcc00;
    color: #171717;
    text-align: right;
    text-decoration: none;
    display: block;
    color: black;
    font-size: 14px;
    width: 96%;
    cursor: default;
}

nav div.user {
    float: left;
    width: 40%;
}

nav div.user input[type=text], nav div.user input[type=password]  {
    float: left;
    text-align: center;
    margin-top: 7px;
    margin-left: 3px;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    width: 33%;
    height: 30px;
    padding: 4px;
    background-color: white;
    transition: width 0.4s ease-in-out;
}

nav div.user input[type=text]:focus, nav div.user input[type=password]:focus  {
    width: 36%;
}

nav div.user button {
    text-align: center;
    width: 60px;
    height: 100%;
    float: left;
    margin-top: 8px;
    background-color: #ffcc00;
    color: #171717;
    font-size: 13px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
}

nav div.user input[type=text]:hover, nav div.user input[type=password]:hover, nav div.user button:hover {
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
}

nav div.user li p.welcome {
    color: #171717;
    border: none;
    margin: 0;
    float: left;
    font-size: 12px;
}

nav div.user li p.welcome {
    border: none;
    padding: 8px 4px;
}

nav div.user li.welcome-content:hover p.welcome {
    color: #ffcc00;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 1250px) {
    nav div.base {
        width: 100%;
        margin: 0;
    }

    nav ul {
        max-height: 37px;
    }

    nav li a, nav li a:visited, .dropdown {
        width: auto;
        padding: 6px 12px;
        font-size: 12px;
    }

    .dropdown-user {
        padding-top: 2px;
        font-size: 12px;
        width: 90px;
        margin-top: 3px;
    }

    .dropdown-content {
        right: 0;
        width: 60%;
    }

    .dropdown-content a {
        padding: 2px 1.66%;
        font-size: 12px;
    }

    .dropdown-user-content {
        left: 0;
        width: 20%;
    }

    .dropdown-user-content a {
        font-size: 11px;
        padding: 3px 4%;
        text-align: left;
    }

    nav div.user {
        width: 45%;
    }

    nav div.user input[type=text], nav div.user input[type=password]  {
        margin-top: 6px;
        font-size: 12.5px;
        width: 30%;
        height: 26px;
    }

    nav div.user button {
        margin-top: 5px;
        width: 50px;
        font-size: 12px;
        padding: 1px 0px;
    }

    nav div.user li p.welcome {
        width: auto;
        padding: 7px 5px;
        font-size: 11px;
    }
}

@media screen and (max-width: 480px) {
    nav div.base {

    }

    nav ul
    {
        overflow: visible;
        max-height: initial;
    }

    nav ul.top_menu li a.main_menu
    {
        display: none;
    }

    nav ul.responsive li a.main_menu {
        display: block;
        border-top: 1px solid #ffcc00;
        margin: 0;
    }

    nav .sub_menu {
        float: left;
        display: block;
        text-align: right;
        padding: 2px 10px;
        width: auto;
        margin: 0;
        font-size: 13px;
        border: none;
    }

    nav .active {
        background-color: #ffcc00;
    }

    nav li a, nav li a:visited {
        margin: 2px 0px;
        width: 100%;
        padding: 2px 0px;
        font-size: 13px;
    }

    .dropdown {
        margin: 0;
        padding: 2px 0px;
        font-size: 13px;
        float: right;
        width: 20%;
    }

    nav div.user li p.welcome {
        width: auto;
        padding: 3px 5px;
        font-size: 11px;
    }

    .dropdown-user {
        margin: 0;
        width: 80px;
        padding-top: 1px;
    }

    .dropdown-user-content {
        left: 0;
        width: 40%;
    }

    .dropdown-user-content a {
        font-size: 11px;
        padding: 3px 4%;
    }

    .dropdown-content {
        margin: 0;
        right: 0;
        width: 100%;
    }

    .dropdown-content a {
        padding: 2px 1.66%;
        font-size: 11px;
    }

    nav div {
        width: 100%;
        margin: 0;
    }

    nav div.user {
        width: 100%;
        padding-bottom: 3px;
        box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
    }

    nav div.user input[type=text], nav div.user input[type=password]  {
        margin-top: 5px;
        width: 30%;
        font-size: 11px;
    }

    nav div.base button {
        font-size: 11px;
        padding: 2px 0px;
        width: 48px;
    }
}