nav {
    float: right;
    width: 100%;
    background-color: #fafafa;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
}

nav div {
    width: 70%;
    float: right;
    margin-right: 15%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li a, nav li a:visited {
    float: right;
    display: block;
    color: #171717;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    padding: 0px;
    width: 105px;
    border-left: 1px solid #ffcc00;
    margin: 10px 0px;
}

nav li a:hover, nav li a:active {
    background-color: #ffcc00;
    color: #171717;
    text-decoration: none;
    font-weight: bold;
}

nav li p {
    color: #ffcc00;
}

@media screen and (max-width: 800px){
    nav li a, nav li a:visited {
        width: 15%;
        font-size: 14px;
    }
    nav div {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 480px){
    nav li a, nav li a:visited {
        margin: 2px 0px;
        border: 0px;
        width: 100%;
        padding: 2px 0px;
    }

    nav div {
        width: 100%;
        margin: 0;
    }
}