section {
    float: left;
    background-color: transparent;
    width: 100%;
    height: auto;
    padding: 0px 0px;
    z-index: 0;
}

article {
    position: relative;
    background-color: transparent;
    width: 1200px;
    height: auto;
    margin: auto;
    padding: 0px 0px;
}

@media screen and (max-width: 1250px){
    article {
        width: 100%;
        margin-right: 0px;
    }
}