.slideshow {
    width: 100%;
    position: relative;
}

.slide {
    width:100%;
    display: none;
}

.slide img {
    transition: opacity 1s;
    object-fit: cover;
}

.cursor {
    cursor: pointer;
}

.prev, .next {
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: 30px;
    padding: 7px;
    color: #ffcc00;
    font-weight: bold;
    font-size: 17px;
    border-radius: 50px;
    user-select: none;
    -webkit-user-select: none;
    left: -55px;
}

.next {
    left: auto;
    right: -55px;
}

.prev:hover, .next:hover {
    color: black;
    background-color: rgba(0, 0, 0, 0.1);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media screen and (max-width: 1250px){
    .prev, .next {
        width: auto;
        background-color: rgba(255, 255, 255, 0.4);
        color: black;
        left: 0;
        padding: 8px;
        font-size: 16px;
        border-radius: 0 15px 15px 0;
    }
    .next {
        left: auto;
        right: 0;
        border-radius: 15px 0 0 15px;
    }
}

@media screen and (max-width: 480px){
    .prev, .next {
        padding: 5px;
        font-size: 10px;
        border-radius: 0 12px 12px 0;
    }
    .next {
        border-radius: 12px 0 0 12px;
    }
}