.category {
    float: right;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.category h1:hover {
    text-shadow: 0px 0px 1px rgba(255,180,0,0.5);
}

.product-item, .product-item:visited {
    position: relative;
    color: #171717;
    font-size: 14px;
    display: block;
    float: right;
    width: 23.5%;
    margin: 20px 0.75% 2px;
    height: auto;
    padding: 0.5vw 0.2vw 0.2vw;
    background-color: #fff;
    text-align: center;
    border-radius: 1vw;
    border: 0.15vw solid white;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
}

.product-item:hover {
    transition: 0.5s;
    cursor: pointer;
    padding: 0.2vw 0.2vw 0.5vw;
    box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.2);
    border: 0.15vw solid #ffcc00;
}

.product-item .product-img {
    width: 100%;
    border-radius: 1vw;
    border: 2px solid transparent;
}

.product-item .product-name {
    font-size: 13px;
}

.product-min-price {
    font-size: 13px;
    text-align: right;
    padding-right: 5px;
    display: block;
    width: 100%;
    float: right;
    word-spacing: 3px;
}

.price {
    background-color: #ffcc00;
    color: #000;
    padding: 0 5%;
    font-size: 15px;
    line-height: 0;
    font-weight: bold;
    letter-spacing: 0.5px;
    border-radius: 25px;
}

.product-ready {
    font-size: 12px;
    display: block;
    width: 100%;
    float: right;
    text-align: center;
    padding-left: 5px;
}

.number {
    color: #ffcc00;
}

@media screen and (max-width: 1250px) {
    .product-item, .product-item:visited {
        font-size: 2vw;
        width: 30%;
        margin: 20px 1.66% 2px;
        padding: 0.8vw 0.5vw 0.4vw;
        border-radius: 2vw;
        border-width: 0.2vw;
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
    }

    .product-item .product-name {
        font-size: 1.4vw;
    }

    .product-item:hover {
        padding: 0.4vw 0.5vw 0.8vw;
        box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.2);
        border-width: 0.2vw;
    }

    .product-item .product-img {
        border-radius: 2vw;
    }

    .product-min-price {
        font-size: 1vw;
        padding-right: 0.8vw;
        word-spacing: 0.3vw;
    }

    .price {
        font-size: 1.3vw;
        letter-spacing: 0.1vw;
        border-radius: 5vw;
    }

    .product-ready {
        font-size: 1.2vw;
        padding: 0;
    }
}

@media screen and (max-width: 480px) {
    .product-item, .product-item:visited {
        width: 45%;
        margin: 20px 2.5% 2px;
        border-radius: 4vw;
        border-width: 0.5vw;
        padding: 1.2vw 0.5vw 0.5vw;
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
    }

    .product-item .product-name {
        font-size: 2.7vw;
    }

    .product-item:hover {
        padding: 0.5vw 0.5vw 1.2vw;
        box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.2);
        border-width: 0.5vw;
    }

    .product-item .product-img {
        border-radius: 3.5vw;
    }

    .product-min-price {
        font-size: 2vw;
        padding-right: 1vw;
    }

    .price {
        font-size: 2.7vw;
    }

    .product-ready {
        font-size: 2.2vw;
    }
}