div.selling {
    float: right;
    width: 100%;
    margin: 0px 0px;
    counter-reset: section;
}

div.product-side {
    float: left;
    width: 30%;
    border-right: 2px solid rgb(0,0,0,0.1);
    padding: 5px 15px 5px 0px;
    user-select: none;
}

div.product-side .product-container, div.product-side .intro-container {
    float: left;
    width: 100%;
    color: #171717;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    height: auto;
    padding: 0.5vw 0.2vw 0.3vw;
    background-color: #fff;
    text-align: center;
    border-radius: 1vw;
    border: 0.15vw solid white;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
}

div.product-side .intro-container {
    padding: 0.5vw 0vw 0vw;
    border: none;
}

div.product-side .product-container:hover {
    transition: 0.5s;
    padding: 0.3vw 0.2vw 0.5vw;
    box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.2);
    border: 0.15vw solid #ffcc00;
}

div.product-side .intro-container:hover {
    transition: 0.5s;
    box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.2);
}

div.product-side .product-container .product-img {
    width: 100%;
    border-radius: 1vw;
    border: 2px solid transparent;
}

div.product-side h1 {
    text-align: center;
    font-size: 110%;
    padding: 5px;
}

div.product-side .intro-container ul {
    list-style-type: none;
    float: right;
    direction: rtl;
    text-align: right;
    margin: 0px;
    padding-bottom: 8px;
}

.product-price-container p {
    position: relative;
    margin: 4px 0;
    padding: 0;
    text-align: right;
    word-spacing: 4px;
}

.product-price-container p.total-price-container {
    margin: 7px 0px;
    border-top: 1px solid #bbb;
    padding-top: 13px;
}

#plus {
    position: absolute;
    top: 3px;
    right: 75px;
    display: inline-block;
    background-color: #ffcc00;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4;
}

#product-price, #service-price, #total-price {
    border: none;
    content: '';
    padding: 1px 5px;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 1.5px;
    vertical-align: -2px;
    line-height: 1.4;
    border-radius: 50px;
    margin: 0;
    margin-left: 8px;
    width: 130px;
    display: inline-block;
    text-align: center;
    background-color: #eee;
}

#total-price {
    background-color: #ffcc00;
}

.product-price-container span.price-title {
    font-size: 15px;
    display: inline-block;
    width: 105px;
    margin: 0;
    padding: 0px 10px 0px 5px;
}

div.product-side .intro-container li {
    margin-right: 10px;
    word-spacing: 2px;
}

div.product-side .intro-container li:hover {
    color: #ffcc00;
}

div.product-main {
    float: right;
    width: 70%;
    padding: 5px 15px 5px 15px;
    user-select: none;
}

div .head-option, div .head-option-left {
    padding-top: 30px;
    width: 130px;
    float: right;
}

div .side1 {
    margin-right: 90px;
}

div .side2 {
    margin-right: 150px;
}

div .side0 {
    margin-right: 100px;
    width: 100%;
}

div .head-option-left {
    float: left;
}

div .head-option img, div .head-option-left img {
    float: right;
    max-width: 25%;
    transition: transform 1s;
}

div .head-option img:hover, div .head-option-left img:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

div .head-option-left img {
    float: left;
}

div .head-option p{
    float: right;
    text-align: right;
    font-weight: bold;
    padding: 0px 8px;
}

div .head-option-left p {
    margin-left: 15px;
    text-align: center;
    font-weight: bold;
}

div #guide-selling-product, div #guide-design-product {
    width: 100%;
    float: right;
    margin-bottom: 10px;
    color: #171717;
    font-size: 14px;
    padding: 0.5vw 1vw 0vw;
    background-color: #fff;
    border-radius: 0.7vw;
    border: 0.15vw solid white;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
    text-align: right;
}

div #guide-design-product {
    width: 97%;
    margin: 0;
    margin-right: 1.5%;
    margin-top: 10px;
}

div #guide-selling-product:hover, div #guide-design-product:hover {
    transition: 0.5s;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
}

div #size-container , div #service-container {
    width: 100%;
    float: right;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(0,0,0,0.03);
}

div #service-container {
    border-top: 2px solid rgb(0,0,0,0.03);
}

div .size-item {
    font-size: 15px;
    line-height: 1.6;
    width: 85px;
    height: 85px;
    float: right;
    border-style: solid;
    border-width: 2px;
    margin: 5px 5px 10px;
    border-radius: 15px;
    padding: 15px 2px;
    text-align: center;
}

div #service-item {
    width: 500px;
    height: 40px;
    float: right;
    border-style: solid;
    border-width: 2px;
    margin: 25px 5px 5px;
    border-radius: 15px;
    padding: 0px 5% 0px 7px;
    text-align: right;
    position: relative;
}

div #ready-container {
    width: 150px;
    float: left;
    margin-bottom: 10px;
    border-right: 2px solid #ddd;
}

div .ready-item {
    font-size: 16px;
    line-height: 1.6;
    width: 120px;
    height: 85px;
    float: right;
    border-style: solid;
    border-width: 2px;
    margin: 0px 15px 10px;
    border-radius: 15px;
    padding: 4px 2px;
    text-align: center;
}

div #count-container {
    width: 100px;
    float: right;
    margin: 0;
    margin-bottom: 10px;
}

div .count-item {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1;
    width: 120px;
    height: 40px;
    float: right;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 7px;
    border-radius: 15px;
    padding-top: 10px;
    text-align: center;
    display: none;
}

div #price-container {
    width: 520px;
    float: right;
    margin-right: 30px;
    margin-bottom: 10px;
}

div .price-item {
    text-align: left;
    font-size: 13px;
    line-height: 1.8;
    height: 40px;
    float: right;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    width: 220px;
    display: none;
    position: relative;
    cursor: pointer;
    padding-left: 10px;
}

span.price {
    float: left;
    line-height: 2;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 18px;
    padding: 0 5px;
}

span.toman {
    font-size: 13px;
    padding: 4px 3px;
    float: left;
}

span.hint {
    font-size: 12px;
    color: #333;
}

div .price-item1 {
    margin: 0px 5px 7px;
}

div .price-item2, div .price-item0 {
    margin: 0px 5px 7px 50px;
}

/* Hide the browser's default radio button */
.price-item input, #service-item input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 4px;
    right: 10px;
    height: 28px;
    width: 28px;
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.price-item:hover input ~ .checkmark, #service-item:hover input ~ .checkmark {
    border: 2px solid #bbb;
    background-color: #eee;
}

/* When the radio button is checked, add a blue background */
.price-item input:checked ~ .checkmark, #service-item input:checked ~ .checkmark {
    background-color: #ffcc00;
    border: 2px solid #ffcc00;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.price-item input:checked ~ .checkmark:after, #service-item input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.price-item .checkmark:after, #service-item .checkmark:after {
 	top: 30%;
	left: 30%;
	width: 40%;
	height: 40%;
	border-radius: 50%;
	background: white;
}

div .default-item {
    background-color: white;
    border-color: #ddd;
}

div .active-item {
    border-color: #ffcc00;
    background-color: rgb(255, 180, 0, 0.2);
}

div .default-item:hover {
    cursor: pointer;
    border-color: #bbb;
}

div .active-item:hover {
    cursor: pointer;
    border-color: #ffbb00;
}

div #submit-container {
    width: 100%;
    float: right;
    margin-top: 5px;
    padding: 0px;
}

div #submit-container button {
    display: block;
    color: #000;
    width: 100%;
    margin: 0;
    border: none;
    background-color: #ffcc00;
    padding: 5px;
    font-size: 18px;
    transition: padding 0.5s;
    border-radius: 0 0 1vw 1vw;
}

div #submit-container button span {
    display: inline-block;
    position: relative;
    transition: padding 0.5s;
    line-height: 1px;
}

div #submit-container button span:after {
    content: '❯❯  ';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -15px;
    transition: 0.5s;
    letter-spacing: -7px;
    font-size: 16px;
}

div #submit-container button:hover {
    cursor: pointer;
    border: none;
    background-color: #f0c000;
}

div #submit-container button:hover span {
    padding-left: 20px;
}

div #submit-container button:hover span:after {
    opacity: 1;
    left: 0;
}

@media screen and (max-width: 1250px) {
    div.selling {
        padding: 0 0.2vw;
        margin: 0px;
    }

    div.product-main {
        padding: 0 1vw 0;
    }

    div #guide-selling-product {
        font-size: 1.5vw;
        padding: 0.5vw 1vw 0vw;
        border-radius: 1.5vw;
        margin-top: 5px;
    }

    div.product-side .product-container {
        border-radius: 1.5vw;
        font-size: 1.5vw;
    }

    div.product-side .product-container .product-img {
        border-radius: 1.5vw;
        border: 0.5vw solid transparent;
    }

    .product-price-container p {
        margin: 0.4vw 0px;
        word-spacing: 1vw;
    }

    .product-price-container p.total-price-container {
        margin: 0.3vw 0px;
        border-top: 0.15vw solid #bbb;
        padding-top: 1vw;
    }

    #plus {
        top: 0.2vw;
        right: 5.5vw;
        width: 2.7vw;
        height: 2.7vw;
        font-size: 2.2vw;
        line-height: 2.7vw;
    }

    #product-price, #service-price, #total-price {
        padding: 0.3vw 1vw;
        font-size: 1.8vw;
        letter-spacing: 0.2vw;
        vertical-align: -0.2vw;
        line-height: 1.4;
        margin-left: 1vw;
        width: 9.2vw;
    }

    .product-price-container span.price-title {
        font-size: 1.3vw;
        width: 9vw;
        padding: 0px 1vw 0px 0.2vw;
    }

    div.product-side .intro-container {
        border-radius: 1.5vw;
        font-size: 1.3vw;
    }

    div .head-option, div .head-option-left {
        width: 100%;
        padding: 0;
    }

    div .head-option img {
        max-width: 2.8vw;
    }

    div .head-option p, div .head-option-left p {
        font-size: 1.3vw;
        padding-right: 1vw;
    }

    div .head-option-left p {
        margin-right: 2vw;
    }

    div .side1 {
        width: 20%;
        margin-right: 7.5vw;
    }

    div .side2 {
        width: 20%;
        margin-right: 12vw;
    }

    div .side0 {
        margin-right: 7.5vw;
    }

    div .size-item {
        font-size: 1.3vw;
        width: 7vw;
        height: 7vw;
        float: right;
        border-style: solid;
        border-width: 0.3vw;
        margin: 0px 0.3vw 10px;
        padding: 1.3vw 0;
        border-radius: 1.4vw;
    }

    div #ready-container {
        width: 19%;
    }

    div .ready-item {
        font-size: 1.4vw;
        width: 88%;
        height: 7vw;
        border-width: 0.3vw;
        margin: 0px 1.4vw 10px;
        padding: 4px 2px;
        border-radius: 1.4vw;
    }

    div #count-container {
        width: 18%;
    }

    div .count-item {
        font-size: 1.5vw;
        width: 100%;
        height: 3.4vw;
        border-width: 0.25vw;
        border-radius: 1.4vw;
        padding-top: 0.8vw;
    }

    div #price-container {
        width: 58%;
        margin-right: 0.5vw;
    }

    div .price-item {
        font-size: 1.1vw;
        height: 3.4vw;
        border-width: 0.25vw;
        border-radius: 1.4vw;
        width: 47%;
        padding-left: 1vw;
    }

    div #service-item {
        font-size: 1.3vw;
        width: 60%;
        height: 3.4vw;
        float: right;
        border-width: 0.25vw;
        margin: 0 0 10px;
        border-radius: 1.4vw;
        padding: 0px 4.2vw 0px 1vw;
    }

    span.price {
        font-size: 1.6vw;
        padding: 0 0.5vw;
    }

    span.toman {
        font-size: 1.3vw;
        padding: 0.2vw 0.2vw;
    }

    span.hint {
        font-size: 1.1vw;
    }

    div .price-item1 {
        margin: 0px 0px 7px;
    }

    div .price-item2, div .price-item0 {
        margin: 0px 1% 7px 5%;
    }

    /* Create a custom radio button */
    .checkmark {
        top: 0.15vw;
        right: 1vw;
        height: 2.7vw;
        width: 2.7vw;
        border-width: 0.25vw;
    }

    /* On mouse-over, add a grey background color */
    .price-item:hover input ~ .checkmark {
        border-width: 0.25vw;
    }

    /* When the radio button is checked, add a blue background */
    .price-item input:checked ~ .checkmark {
        border-width: 0.25vw;
    }

    div #submit-container {
        margin: 0.7vw 0 0;
    }

    div #submit-container button {
        padding: 0.2vw;
        font-size: 1.7vw;
        border-radius: 0 0 1.5vw 1.5vw;
    }

    div #submit-container button span:after {
        font-size: 1.5vw;
        letter-spacing: -0.5vw;
    }

    div #submit-container button:hover span {
        padding-left: 1.7vw;
    }
}

@media screen and (max-width: 480px) {

    div #guide-selling-product {
        font-size: 2.5vw;
        padding: 2vw 2vw 0vw;
        border-radius: 2.5vw;
        margin-top: 0px;
    }

    div.product-side {
        width: 100%;
        border: none;
        margin: 0;
        padding: 5px 5px 5px 5px;
    }

    div.product-side .product-container {
        float: right;
        width: 49%;
        font-size: 3vw;
        border-radius: 2.5vw;
    }

    div.product-side .product-container .product-img {
        border-radius: 2.5vw;
        border: 0.7vw solid transparent;
    }

    .product-price-container p {
        margin: 0.8vw 0px;
        word-spacing: 2vw;
    }

    .product-price-container p.total-price-container {
        margin: 0.3vw 0px;
        border-top: 0.3vw solid #bbb;
        padding-top: 1vw;
    }

    #plus {
        top: 1.2vw;
        right: 10vw;
        width: 4vw;
        height: 4vw;
        font-size: 3.8vw;
        line-height: 3.5vw;
    }

    #product-price, #service-price, #total-price {
        padding: 0.3vw 2vw;
        font-size: 3.5vw;
        letter-spacing: 0.3vw;
        vertical-align: -2px;
        line-height: 1.4;
        margin-left: 1vw;
        width: 18vw;
    }

    .product-price-container span.price-title {
        font-size: 2.5vw;
        width: 15vw;
        padding: 0px 2vw 0px 1vw;
    }

    div.product-side .intro-container {
        border-radius: 2.5vw;
        float: left;
        width: 49%;
        height: auto;
        max-height: 30vw;
        font-size: 2.7vw;
        overflow: hidden;
    }

    div.product-main {
        width: 100%;
        padding: 5px;
    }

    div .head-option {
        width: 100vw;
    }

    div .head-option img {
        max-width: 5vw;
    }

    div .head-option p, div .head-option-left p {
        font-size: 2.4vw;
        padding-right: 1.5vw;
    }

    div .head-option-left p {
        text-align: center;
        margin: 0;
        margin-bottom: 8px;
    }

    div .side1 {
        width: 30%;
        margin-right: 7.5vw;
    }

    div .side2 {
        width: 20%;
        margin-right: 11vw;
    }

    div .side0 {
        margin-right: 7.5vw;
    }

    div .size-item {
        font-size: 2.4vw;
        width: 13vw;
        height: 13vw;
        border-width: 0.5vw;
        margin: 0px 0.5vw 10px;
        padding: 2.2vw 0.2vw;
        border-radius: 1.6vw;
    }

    div #ready-container {
        width: 25%;
    }

    div .ready-item {
        font-size: 2.5vw;
        height: 15vw;
        border-width: 0.5vw;
        margin: 0px 1.4vw 8px;
        padding: 1.2vw 0;
        border-radius: 1.6vw;
    }

    div #count-container {
        width: 17%;
    }

    div .count-item {
        font-size: 2.6vw;
        width: 100%;
        height: 6vw;
        border-width: 0.4vw;
        border-radius: 1.6vw;
        padding-top: 1.5vw;
    }

    div #price-container {
        width: 52%;
        margin-right: 0.7vw;
    }

    div .price-item {
        font-size: 2.3vw;
        height: 6vw;
        border-width: 0.4vw;
        border-radius: 1.6vw;
        width: 47%;
        padding: 0;
        padding-left: 1.2vw;
    }

    div #service-item {
        font-size: 2.5vw;
        width: 72%;
        height: 6vw;
        float: right;
        border-width: 0.4vw;
        border-radius: 1.6vw;
        padding: 0 6.2vw 0px 7px;
    }

    span.price {
        font-size: 2.8vw;
        padding: 0 0.5vw;
    }

    span.toman {
        font-size: 2.4vw;
    }

    span.hint {
        font-size: 2.2vw;
    }

    /* Create a custom radio button */
    .checkmark {
        top: 0.5vw;
        right: 1vw;
        height: 4.5vw;
        width: 4.5vw;
        border-width: 0.4vw;
    }

    /* On mouse-over, add a grey background color */
    .price-item:hover input ~ .checkmark {
        border-width: 0.4vw;
    }

    /* When the radio button is checked, add a blue background */
    .price-item input:checked ~ .checkmark {
        border-width: 0.4vw;
    }

    div #submit-container {
        font-size: 2.8vw;
        margin-top: 1vw;
    }

    div #submit-container button {
        padding: 0;
        font-size: 3vw;
        border-radius: 0 0 2.5vw 2.5vw;
    }

    div #submit-container button span:after {
        font-size: 1.5vw;
        letter-spacing: -0.5vw;
    }

    div #submit-container button:hover span {
        padding-left: 1.7vw;
    }
}